	<% if @post.errors.any? %>
		<div class="alert alert-danger" role="alert">
				<strong><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved: </strong>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.text_field :title %>
	<%= f.text_field :subtitle %>
	<%= f.cktext_area :preview %>
	<div class="field">
		<%= f.file_field :image %>
	</div>
	<p><%= f.submit %></p>